# dependencies
webapp/node_modules
api/vendor

# public
api/public/storage
api/public/hot

# production
webapp/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
api/storage/*.key
api/phpunit

webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*
